<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @docter.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @docter.address %>
</p>

<%= link_to 'Edit', edit_docter_path(@docter) %> |
<%= link_to 'Back', docters_path %>
