<p id="notice"><%= notice %></p>

<h1>Listing Account Histories</h1>

<table>
  <thead>
    <tr>
      <th>Account</th>
      <th>Amount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @account_histories.each do |account_history| %>
      <tr>
        <td><%= account_history.account_id %></td>
        <td><%= account_history.amount %></td>
        <td><%= link_to 'Show', account_history %></td>
        <td><%= link_to 'Edit', edit_account_history_path(account_history) %></td>
        <td><%= link_to 'Destroy', account_history, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Account history', new_account_history_path %>
