<%= simple_form_for(@patient) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :address %>
<!-- <%= f.collection_select :name, Docter.all, :id, :name, :prompt => "Select a prospect" %> -->
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
